p, ul, ol, li {
    line-height: 1.3
}

div.flex-between {
    display: flex;
    justify-content: space-between
}

div.flex-between > div {
    margin: 1em
}

a:link, a:visited {
    text-decoration: none;
    color: #006600;
}

a:hover {
    text-decoration: none;
    color: #00BB00;
}

a:active {
    text-decoration: none;
    color: orange;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid black;
    background-color: lightgray;
}

td {
    border: 1px solid black;
}
